@mixin clearfix() {
  &::after {
    content: "";
    display: block;
    clear: left;
  }
}

.box-parent {
  padding: 20px;
  background-color: black;
  .box-child {
    width: 200px;
    height: 200px;
    background-color: red;
    border: 1px solid #ff0;
    float: left;
  }
  .box-child:not(:last-child) {
    margin-right: 20px;
  }

  @include clearfix();
}
